@font-face {
    font-family: 'antipasto';
    src: url(../assets/Fonts/Anti-ExtraBold.ttf);
    font-style: normal;
    font-weight: 800; }
  
  @font-face {
    font-family: 'antipasto';
    src: url(../assets/Fonts/Anti-Bold.ttf);
    font-style: normal;
    font-weight: 700; }
  
  @font-face {
    font-family: 'antipasto';
    src: url(../assets/Fonts/Anti-Medium.ttf);
    font-style: normal;
    font-weight: 400; }
  
  @font-face {
    font-family: 'antipasto';
    src: url(../assets/Fonts/Anti-Regular.ttf);
    font-style: normal;
    font-weight: 300; }
  
  @font-face {
    font-family: 'antipasto';
    src: url(../assets/Fonts/Anti-Light.ttf);
    font-style: normal;
    font-weight: 200; }

    @font-face {
        font-family: 'antipasto';
        src: url(../assets/Fonts/Anti-Thin.ttf);
        font-style: normal;
        font-weight: 100; }

/*         PARA USAR ESTA FUENTE DESCARGADA EN CUALQUIER ETIQUETA O CLASE O ID SE HACE DE LA SIGUIENTE MANERA:
        p{
            font-family: 'antipasto';
            font-weight: 200; podes elgir 100,200,300,400,700,800 como está arriba
        } */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* TODOS LOS TITULOS LLEVAN ESTA TIPOGRAFIA POR ENDE CADA VEZ QUE HAYA UN TITULO PONERLE LA CLASE "TITULO" ASI AUTOMATICAMENTE TOMA ESA TIPOGRAFIA */

.titulo{
    font-family: 'Alata', sans-serif;
}

/* TIPOGRFIA ROBOTO SOLO PARA EL MENU DE NAVEGACION */

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* NAVBAR */
.barra{
    padding: 10px 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 5px 2px rgba(121, 121, 121, 0.269);
}

nav .enlaceLogo img{
    width: 180px;
    margin-left: 200px;
}

nav #navbarSupportedContent ul li .nav-link{
    color: rgb(0, 0, 0);
    margin: 0px 10px;
}



/* BANNER */

/* SOBRE MI */

/* SERVICIOS */

/* METODOLOGIA */

/* TESTIMONIOS */

/* CONTACTO */

/* MEDIA QUERIES TABLET */
@media only screen and (max-width: 768px){
    nav .enlaceLogo img{
        width: 140px;
        margin-left: 0px;
    }

}
/* MEDIA QUERIES MOBILE */
@media only screen and (max-width: 580px){

    
}